@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.error {
  color: red;
}

.Header {
  margin: 0;
  background-color: #296553;
  border: 0;
  border-radius: 0;
  a {
    color: #fff !important;
  }
}

.Welcome {
  .Welcome__hero {
    margin: 0;
    background-image: url('/images/welcome_hero.jpg');
    background-size: cover;
    min-height: 400px;
  }
  .Welcome__hero_overlay {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(96, 125, 139, 0.7);
    min-height: 400px;
  }

  .Welcome_hero_main_info {
    color: #fff;
  }

  .Welcome__hero_title {
    margin-top: 0;
    font-weight: bold;
  }

  .Welcome__hero_subtitle {
    font-size: 15px;
  }

  .Welcome__hero_button {
    background-color: #f44336;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 14px 42px;
    font-size: 16px;
  }
  .Welcome__featured_poll_container {
    max-width: 400px;
    margin: 65px auto 30px auto;
    // Overwrite Bootstrap
    .container {
      max-width: 400px;
    }

    .Welcome__featured_poll_title {
      color: #fff;
      margin-bottom: 0;
    }

    .Poll__form {
      background-color: #fff;
    }

    .Poll__question {
      background-color: rgb(41, 101, 83);
      color: #fff;
      margin-bottom: 0;
      padding: 15px 0 15px 10px;
      font-size: 16px;
    }

    .Poll__options {
      margin: 10px;
    }

    .Poll__button {
      width: 100%;
      background-color: rgba(158,158,158,0.9);
      color: #fff;
      font-size: 16px;
      border-radius: 0;
      border: 0;
    }
  }

  .PollList__list {
    list-style-type: none;
    padding: 0;
  }

  .PollList__list_item {
    cursor: pointer;
  }
}

.Poll {
  .Poll__options {
    margin: 10px;
  }

  .SocialMediaShareButton {
    width: 40px;
    margin-top: 10px;
  }
}

.Button_new_poll {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;

  .glyphicon {
    top: 4px;
    right: -2px;
  }
}

.NewPoll {
  .NewPoll__form {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .NewPoll__form_options{
    height: 200px;
    overflow-y: scroll;
  }
}
